<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Add A New Product</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="saveNewProduct()">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Enter Title" type="text" [(ngModel)]="product.title" name="title"/>
          <mat-error>Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Enter Price" type="number" [(ngModel)]="product.price" name="price"/>
          <mat-error>Password is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Enter a Description" type="text" [(ngModel)]="product.description" name="description"/>
          <mat-error>Password is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Image Url</mat-label>
          <input matInput placeholder="Enter your Image Url" type="text" [(ngModel)]="product.image" name="image"/>
          <mat-error>Password is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <input matInput placeholder="Enter Category" type="text" [(ngModel)]="product.category" name="category"/>
          <mat-error>Password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" style="background:linear-gradient(45deg, #4bc0c8, #5e60ce); color: white">Save Product</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
