.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #2ebf91, #8360c3);
}

.login-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

mat-card-title {
  font-size: 1.8em;
  color: #333;
}

mat-card-subtitle {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  background: linear-gradient(45deg, #4bc0c8, #5e60ce);
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: linear-gradient(45deg, #5e60ce, #4bc0c8); /* Reverse gradient */
  transform: scale(1.05);
}



mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

mat-card-actions button {
  width: auto;
  font-size: 0.9em;
  font-weight: bold;
}
