<!--<div class="menu">-->
<!--<ul>-->
<!--  <li><a routerLink="/new-product">+</a></li>-->
<!--  <li><a routerLink="/home">Home</a></li>-->
<!--  <li><a routerLink="/products">Products</a></li>-->
<!--  <li><a routerLink="/about">About</a></li>-->
<!--</ul>-->
<!--</div>-->




<section>
  <div class="example-button-row">
    <button mat-flat-button color="primary" routerLink="/new-product">+</button>
    <button mat-flat-button color="accent" routerLink="/home">Home</button>
    <button mat-flat-button color="warn" routerLink="/products">Products</button>
    <button mat-flat-button color="primary" routerLink="/about">About</button>
  </div>
</section>

